<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">EliteHome Essentials
                <span>Plumbing Home Service Solution</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <!--  -->
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p1.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Elongated Toilet with Slow Close Seat:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="15000/-">Price</button>

                  <!-- <h6 class="text-primary text-uppercase">Sanitary Plumbing</h6> -->
                  <p class="description mt-3"> Efficient 1.28 GPF elongated toilet with a gravity-fed system and slow-close seat for added convenience.</p>
                  <br>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(0)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[0] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p2.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Single Handle Kitchen Faucet with Spray:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="1500/-">Price</button>

                  <p class="description mt-3">Versatile single-handle kitchen faucet with spray, offering easy temperature and flow control.</p>
                  <br>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(1)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[1] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p3.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Diagnostic Visit:(Trip Charge plus 1 hour onsite)</h6>
                  </div>

                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="5000/-">Price</button>

                  
                  <p class="description mt-3">Professional visit for diagnostics, including trip charge and the first hour of onsite inspection and troubleshooting by a licensed technician.</p>
                  
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(2)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[2] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p4.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Pipe Insulation:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="45000/-">Price</button>

                  <p class="description mt-3">Insulation of pipes to improve energy efficiency and prevent freezing, ensuring optimal performance.</p>
                  <br>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(3)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[3] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p5.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">High Pressure Water Jetting:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="5000/-">Price</button>

                  <p class="description mt-3">Quarterly high-pressure water jetting service to clear and maintain drains, ensuring smooth operation.(price every 3 months)</p>
                  
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(4)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[4] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div> -->
                  <!-- <div class="col-sm-3 col-6"> -->
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p6.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <!-- </div> -->
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Kitchen Sink Stoppage:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="2000/-">Price</button>

                  <p class="description mt-3">Service to clear blockages and restore proper drainage in kitchen sinks.</p>
                  <br><br>

                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(5)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[5] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p7.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Kitchen Maintainace:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="5000/-">Price</button>

                  <p class="description mt-3">Professional installation of a new kitchen faucet to upgrade or replace your existing fixture.</p>
                  
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(6)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[6] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p8.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Replace Kitchen Faucet:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="45000/-">Price</button>

                  <p class="description mt-3">Professional replacement of kitchen faucet with new installation, ensuring proper function and fit.</p>
                  
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(7)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[7] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div> -->
                  <!-- <div class="col-sm-3 col-6"> -->
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p9.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <!-- </div> -->
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Replace Toilet:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="10000/-">Price</button>

                  <p class="description mt-3">Removal and replacement of an existing toilet with a new one, ensuring proper installation and function.</p>
                  
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(8)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[8] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p10.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Sewer Drain Maintenance:</h6>
                  </div>
                  <br>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="45000/-">Price</button>

                  <p class="description mt-3">Regular maintenance of sewer drains to prevent blockages and ensure efficient flow.</p>
                  <br>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(9)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[9] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p11.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Video Inspection of Drain-Piping:</h6>
                  </div>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="500/-">Price</button>

                  <p class="description mt-3">Quarterly video inspections of drain pipes to detect and address issues before they become major problems.(price every 3 months)</p>
                  
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(10)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[10] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div> -->
                  <!-- <div class="col-sm-3 col-6"> -->
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/new/p12c.jpeg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <!-- </div> -->
                  <br>
                  <div style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Hydro Jetting Service:</h6>
                  </div>
                  <br>
                  <br>
                  <button type="button" class="btn btn-sm btn-success btn-tooltip" placement="right"  ngbTooltip="5000/-">Price</button>

                  <p class="description mt-3">Clears stubborn pipe clogs with high-pressure water, ideal for grease, sediment, and root blockages in sewer lines.</p>
                  <br>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom" ngbPopover="Your service has been placed 👷‍♂️👷‍♀️" popoverTitle="Service Message 😀" style="border: none;background-color: transparent;" class="clickable" (click)="handleClick(11)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{ serviceTexts[11] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>

    


  </section>

  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br>

  <app-feedback1></app-feedback1>
  
  
  
  
  
  
  
</main>