<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <!-- <div class="col-md-6 order-md-2">
              <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
            </div> -->

            <div class="col-lg-6">
              <h1 class="display-3  text-white">EliteHome Essentials
                <span>A unified collection of specialized home service brands.</span>
              </h1>
              
              <p class="lead  text-white">Built by visionaries John Smith and Michael Brown, EliteHome Essentials stands as a premier provider of comprehensive home services. With a shared passion for excellence and innovation, they have cultivated a company that delivers top-quality solutions across plumbing, electrical work, pump systems, and more. Their dedication to customer satisfaction and continuous improvement has positioned EliteHome Essentials as a trusted name in the industry.</p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
                <ngb-carousel>
                    <ng-template ngbSlide>
                      <!-- <img class="img-fluid" src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide"> -->

                      <img class="img-fluid" src="assets/img/Jonathan.jpg" alt="First slide" width="100%">
                       
                    </ng-template>
                    <ng-template ngbSlide>
                      <!-- <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide"> -->
                      <img class="img-fluid" src="assets/img/Harris.jpg" alt="Second slide" width="100%">

                    </ng-template>
                </ngb-carousel>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/f4.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Redefining Home Services</h4>
              <p class="lead text-italic text-white">Experience a revolution in home services with EliteHome Essentials. Our innovative approach combines cutting-edge technology, expert craftsmanship, and unparalleled customer care to redefine what it means to care for your home.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Our History</h3>
            <p class="lead">Founded in 1929, EliteHome Essentials has a rich heritage rooted in excellence and family values. Our journey began with Sanitary Plumbing, a third-generation family business dedicated to providing top-quality plumbing services to the community.</p>
            <p>In 1992, we embarked on a significant expansion with the acquisition of Calray Gas Heat Corp. This strategic move allowed us to broaden our service portfolio and solidify our position as a leader in the home services industry.</p>
            <p>In 2024, as part of our commitment to growth and innovation in the digital era, we expanded our presence into the online home service market. Introducing two new additions to our brand family - Antler specializing in motors and pumps, and Bolt offering comprehensive electrical services - we aimed to meet the evolving needs of our customers in the digital age. This strategic move further enhanced our ability to provide convenient and reliable home services online, solidifying our reputation as a comprehensive home service provider in the internet world.</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">"Transforming houses into homes, one service at a time."</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <!-- <img src="./assets/img/theme/promo-1.png" class="img-fluid floating"> -->
          
          <div class="row justify-content-center">
            
            <div class="mt-5 mt-lg-0">
              <!-- Menu -->
              <h4 class="display-3  text-black">Why Choose Us ?
                <!-- <span>A unified collection of specialized home service brands.</span> -->
              </h4>
              <div class="custom-tab-content flex-column flex-md-row">
                <ul ngbNav #nav1="ngbNav" [(activeId)]="active" class="nav nav-pills justify-content-center" type="pills">
                  <li class="nav-item" [ngbNavItem]="1">
                    <a class="nav-link" ngbNavLink> Services:</a>
                    <ng-template ngbNavContent>
                      <div class="tab-content">
                        <p class="description">At EliteHome Essentials, we offer a one-stop solution for all your home service needs. Whether it's plumbing, electrical work, or pump systems, we have the expertise and resources to handle it all. Our wide range of services ensures that you can rely on us for any home maintenance or repair project.</p>
                        <!-- <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                          stumptown aliqua, retro synth master cleanse.</p> -->
                      </div>
                    </ng-template>
                  </li>
                  <li class="nav-item" [ngbNavItem]="2">
                    <a class="nav-link" ngbNavLink>
                      Expert Team:
                    </a>
                    <ng-template ngbNavContent>
                      <div class="tab-content">
                        <p class="description">Our team is comprised of skilled professionals dedicated to delivering exceptional service. Each member brings years of experience and specialized knowledge to the table, ensuring that every job is completed to the highest standards. We continuously train our staff to stay updated with the latest industry practices and technologies.</p>
                      </div>
                    </ng-template>
                  </li>
                  <li class="nav-item" [ngbNavItem]="3">
                    <a class="nav-link" ngbNavLink>
                      Reliability:
                    </a>
                    <ng-template ngbNavContent>
                      <div class="tab-content">
                        <p class="description">We understand the importance of having a trustworthy service provider for your home. At EliteHome Essentials, we pride ourselves on our reliability and efficiency. We show up on time, complete tasks as promised, and ensure everything is functioning perfectly before we leave. Our commitment to quality means you can have peace of mind knowing your home is in good hands.</p>
                      </div>
                    </ng-template>
                  </li>
                  <!--  -->

                  <li class="nav-item" [ngbNavItem]="4">
                    <a class="nav-link" ngbNavLink>
                      Customer Focus:
                    </a>
                    <ng-template ngbNavContent>
                      <div class="tab-content">
                        <p class="description">Your satisfaction is our top priority. We listen to your needs and tailor our services to meet your specific requirements. From the initial consultation to the completion of the job, we ensure clear communication and a seamless experience. Our friendly customer support team is always ready to assist you with any questions or concerns, ensuring a smooth and satisfying service process.</p>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
              <div [ngbNavOutlet]="nav1" class="custom-tab-content"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Our Mission</h3>
            <p>At EliteHome Essentials, our leadership is driven by a deep understanding of customer needs and a commitment to excellence. We are dedicated to transforming the home service industry through visionary thinking and a relentless focus on quality.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Commitment to Quality: Delivering top-notch services to ensure customer satisfaction.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Innovative Solutions: Utilizing advanced technology for efficient and reliable service delivery.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Customer-Centric Approach: Tailoring services to meet the diverse needs of our clients.</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">Simplifying Home Service Management</h3>
              <p class="lead text-white mt-3">At EliteHome Essentials, we’ve made managing your home services easier than ever. Our innovative platform allows you to effortlessly book, track, and customize all your home service needs, ensuring your home stays in top condition without the hassle.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a href="#" class="btn btn-lg btn-block btn-white">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">The amazing Team</h2>
          <p class="lead text-muted">Our expert team at EliteHome Essentials includes certified electricians, skilled plumbers, and experienced pump specialists, all committed to delivering exceptional service and tailored solutions for your home.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/fpic1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <!-- <img src="./assets/img/fpic1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"> -->

            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Arjun Patel</span>
                <small class="h6 text-muted">Head of Electrical Services</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/fpic4.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Sam Roy</span>
                <small class="h6 text-muted">Head of Plumbing Services</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/fpic2.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Alexander Smith</span>
                <small class="h6 text-muted">Head of Pump Systems Services</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/fpic5.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Sarah Thompson</span>
                <small class="h6 text-muted">Head of Customer Support</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
</main>
