<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">EliteHome Essentials
                <span>Boiler Home Service Solution</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none"
          version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/b1.jpg" alt="Rounded image"
                      class="img-fluid rounded shadow" style="width: 150px;">
                  </div>

                  <br>
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Boiler & Water
                      Heater Maintenance:</h6>
                  </div>
                  <br>
                  <button type="button"
                    class="btn btn-sm btn-success btn-tooltip" placement="right"
                    ngbTooltip="10000/-">Price</button>

                  <!-- <h6 class="text-primary text-uppercase">Sanitary Plumbing</h6> -->
                  <p class="description mt-3">Comprehensive maintenance services
                    for boilers and water heaters to ensure optimal performance
                    and longevity. This includes cleaning, inspection, and
                    testing of all components to prevent breakdowns and improve
                    efficiency. Regular maintenance can help identify potential
                    issues early and avoid costly repairs or replacements.
                  </p>

                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom"
                    ngbPopover="Your service has been placed 👷‍♂️👷‍♀️"
                    popoverTitle="Service Message 😀"
                    style="border: none;background-color: transparent;"
                    class="clickable" (click)="handleClick(0)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{
                      serviceTexts[0] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/b2.jpg" alt="Rounded image"
                      class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Diagnostic
                      Visit:</h6>
                  </div>
                  <br><br>
                  <button type="button"
                    class="btn btn-sm btn-success btn-tooltip" placement="right"
                    ngbTooltip="1000/-">Price</button>

                  <br>
                  <p class="description mt-3"> A diagnostic visit involves a
                    professional technician coming to your location to assess
                    and diagnose any issues with your heating or water heating
                    systems.
                    The trip charge covers travel expenses, and the first hour
                    onsite includes thorough inspection and initial diagnostics
                    to identify the root cause of the problem.(Trip Charge plus
                    1 hour onsite)

                  </p>

                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom"
                    ngbPopover="Your service has been placed 👷‍♂️👷‍♀️"
                    popoverTitle="Service Message 😀"
                    style="border: none;background-color: transparent;"
                    class="clickable" (click)="handleClick(1)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{
                      serviceTexts[1] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/b3.jpg" alt="Rounded image"
                      class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Heat Timer Energy
                      Management Monitoring:</h6>
                  </div>
                  <br>
                  <button type="button"
                    class="btn btn-sm btn-success btn-tooltip" placement="right"
                    ngbTooltip="15000/-">Price</button>

                  <p class="description mt-3"> Monitoring services for Heat
                    Timer Energy Management systems, designed to optimize energy
                    usage and enhance the efficiency of heating systems. This
                    service includes regular data analysis, system adjustments,
                    and reporting to ensure your energy management system is
                    operating at peak performance.</p>
                  <br>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom"
                    ngbPopover="Your service has been placed 👷‍♂️👷‍♀️"
                    popoverTitle="Service Message 😀"
                    style="border: none;background-color: transparent;"
                    class="clickable" (click)="handleClick(2)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{
                      serviceTexts[2] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/b4.jpg" alt="Rounded image"
                      class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Rebuilding:</h6>

                  </div>
                  <br>
                  <button type="button"
                    class="btn btn-sm btn-success btn-tooltip" placement="right"
                    ngbTooltip="50000/-">Price</button>

                  <br>

                  <p class="description mt-3">Rebuilding services for boilers
                    and heating systems that have significant wear and tear or
                    damage. This involves disassembling, inspecting, cleaning,
                    repairing, or replacing worn-out parts, and reassembling the
                    system to restore it to like-new condition. Rebuilding can
                    extend the life of your equipment and improve its
                    reliability and efficiency.</p>

                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom"
                    ngbPopover="Your service has been placed 👷‍♂️👷‍♀️"
                    popoverTitle="Service Message 😀"
                    style="border: none;background-color: transparent;"
                    class="clickable" (click)="handleClick(3)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{
                      serviceTexts[3] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/b5.jpg" alt="Rounded image"
                      class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <br>
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">City Department of
                      Buildings – Annual Boiler Inspection:</h6>
                  </div>
                  <button type="button"
                    class="btn btn-sm btn-success btn-tooltip" placement="right"
                    ngbTooltip="5000/-">Price</button>

                  <br>

                  <p class="description mt-3">Annual inspection services
                    required by the NYC Department of Buildings to ensure
                    boilers are operating safely and in compliance with local
                    regulations. This service includes a thorough inspection of
                    all boiler components, safety devices, and controls, as well
                    as the submission of necessary documentation to the
                    Department of Buildings.</p>

                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom"
                    ngbPopover="Your service has been placed 👷‍♂️👷‍♀️"
                    popoverTitle="Service Message 😀"
                    style="border: none;background-color: transparent;"
                    class="clickable" (click)="handleClick(4)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{
                      serviceTexts[4] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div> -->
                  <!-- <div class="col-sm-3 col-6"> -->
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <img src="./assets/img/b6.jpg" alt="Rounded image"
                      class="img-fluid rounded shadow" style="width: 150px;">
                  </div>
                  <!-- </div> -->
                  <br>
                  <div
                    style="display: flex; justify-content: center; width: 100%;">
                    <h6 class="text-primary text-uppercase">Maintenance
                      Agreements:</h6>
                  </div>
                  <br>
                  <button type="button"
                    class="btn btn-sm btn-success btn-tooltip" placement="right"
                    ngbTooltip="45000/-">Price</button>

                  <br>
                  <p class="description mt-3">Customized maintenance agreements
                    tailored to your specific needs, providing regular service
                    and support for your heating and water heating systems.
                    These agreements often include scheduled inspections,
                    preventive maintenance, priority service, and discounts on
                    repairs, ensuring your systems run smoothly year-round.</p>

                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Add Service</a> -->
                  <button type="button" placement="bottom"
                    ngbPopover="Your service has been placed 👷‍♂️👷‍♀️"
                    popoverTitle="Service Message 😀"
                    style="border: none;background-color: transparent;"
                    class="clickable" (click)="handleClick(5)">
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">{{
                      serviceTexts[5] }}</a>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br>

  <app-feedback1></app-feedback1>

</main>
