<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      
      <img src="./assets/img/new/l4.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed" style="background: lightcoral;
    border-radius: 5px; margin-left: 15px;">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center" style="margin-left: 45px;">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="dropdown-item" style="border-radius: 45px;">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a [routerLink]="['/landing']" class="dropdown-item">Services</a>
        </li> -->
        <li class="nav-item dropdown">
          <!-- <a class="nav-link no-caret" data-toggle="dropdown" role="button"> -->
            <!-- <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link">Services</span> -->
          <!-- </a> -->
           <!-- [routerLink]="['/landing']" -->
          <a class="dropdown-item" style="color: #16181b; border-radius: 45px;">Services</a>
          <div class="dropdown-menu">
            <a [routerLink]="['/boiler']" class="dropdown-item">Boiler</a>
            <a [routerLink]="['/electrical']" class="dropdown-item">Electrical</a>
            <a [routerLink]="['/fire']" class="dropdown-item">Fire Susppression</a>
            <a [routerLink]="['/plumbing']" class="dropdown-item">Plumbing</a>
            <a [routerLink]="['/pumpfan']" class="dropdown-item">Pump/Fan</a>
          </div>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contact']" class="dropdown-item" style="border-radius: 45px;">Contact Us</a>
        </li>

        <li class="nav-item dropdown">
          <!-- <a class="nav-link no-caret" data-toggle="dropdown" role="button"> -->
            <!-- <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link">Services</span> -->
          <!-- </a> -->
           <!-- [routerLink]="['/landing']" -->
          <a class="dropdown-item" style="color: #16181b; border-radius: 45px;">Settings</a>
          <div class="dropdown-menu">
            <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
            <a [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a [routerLink]="['/register']" class="dropdown-item">Register</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Examples</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Landing</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
            <a [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a [routerLink]="['/register']" class="dropdown-item">Register</a>
          </div>
        </li> -->
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank"
            data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank"
            data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip"
            title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon"
            href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-navbar" target="_blank"
            data-toggle="tooltip" title="Star us on Github">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <!-- <li class="nav-item d-none d-lg-block ml-lg-4"> -->
        <li class="nav-item">
          <a [routerLink]="['/about']" class="dropdown-item" style="border-radius: 45px;">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>